@import "susy";
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,vietnamese);

/* Variables */
$container-width: 70%;

$small: 0 480px;
$medium: 768px ;
$large: 960px;

$font: 'Oxygen', helvetica, sans-serif;

$padding-page: 20px;

$color-bg: #f8981c;
$color-bg-container: #fff;
$color-footer: #ffca86;
$color-udacity: #f8981c;
$color-heading: #555;

$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: inside,
);

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: $font, sans-serif;
  background: $color-bg;
  margin: 0;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

.container-page {
	display: flex;
	flex-wrap: wrap;
}

/* Header & Banner */
@include breakpoint($small) {
	header,
	footer {
	  width: 90%;
	}
}

@include breakpoint($medium, $large) {
	header,
	footer  {
		width: $container-width;
	}
}

header, footer {
	margin: auto;
	background: $color-bg-container;
	padding: $padding-page;
}

@include breakpoint($small) {
	.header-top {
		width: 90%;
		order: 1;
	}
}

@include breakpoint($medium, $large) {
	.header-top {
		width: $container-width;
		order: 1;
	}
}

@include breakpoint($small) {
	.banner {
		width: 90%;
	}
}

@include breakpoint($medium, $large) {
	.banner {
		width: $container-width;
	}
}

.banner {
	order: 2;
	padding-top: 20%;
	background: url('http://lorempixel.com/850/350/technics') 50% 50% / cover no-repeat fixed;
  box-shadow: inset 0px 0px 100px rgba(0,0,20,1);
}

@include breakpoint($small, $medium) {
	.logo {
		display: block;
		margin: 5px auto;
	}
	.site-name {
		display: block;
		width: 90%;
		text-align: center;
	}
}

@include breakpoint($large) {
	.logo {
		float: left;
		margin-right: 3%;
		height: auto;
	}

	.site-name {
		float: right;
		width: auto;
		text-align: right;
	}
}

.logo {
	max-width: 100px;
}

.logo-sang {
	border-radius: 50%;
}

@include breakpoint($small) {
	.container-main {
		width: 90%;
	}
}

@include breakpoint($medium, $large) {
	.container-main {
		width: $container-width;
	}
}

.container-main {
	margin: auto;
	padding: 0 $padding-page;
	order: 3;
	background: $color-bg-container;
}

/* Porfolio Content */
.page-heading, .page-subtitle {
	color: $color-heading;
	text-transform: uppercase;
}

@include breakpoint($small) {
	.project-list {
		@include span(12);
	}
}

@include breakpoint($medium) {
	.project-list {
		@include span(6);
	}
}

@include breakpoint($large) {
	.project-list {
		@include span(4);
	}
}

.project-list:last-child {
	@include last;
}

.project-list-title {
	color: $color-heading;
	text-align: center;
	text-transform: uppercase;
}

.project-list-img {
	display: block;
	width: 100%;
	-webkit-filter: grayscale(0.8);
	transition: all 0.6s ease;
}

.popup-action:hover .project-list-img {
	-webkit-filter: grayscale(0);
}

/* Box popup */
.popup-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: rgba(0, 0, 0, 0.9);
	visibility: hidden;
	opacity: 0;
	cursor:crosshair;
	transition: all 500ms;
	z-index: 1000;
}

.popup-overlay:target {
	display: block;
	visibility: visible;
	opacity: 1;
}

.popup {
	position: fixed;
	top: 30%;
	left: 30%;
	margin: auto;
	width: 40%;
	padding: 20px;
	background: #fff;
	transition: all 5s ease;
}

.popup-content {
	max-height: 40%;
	overflow: auto;
}


.page-footer {
	order: 5;
}

.footer-content {
	padding: $padding-page;
	background: $color-footer;
	text-align: center;
}