* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  widows: 100%;
  font-size: 24px;
}
html,body,h1,h2,h3,h4,h5,h6,p {
  margin:0;padding:0
}
/*
HEADER *************
*/

.header {
  display: flex;
  width: 100%;
  margin: 0;

  padding: 10px;
}

.header__section {
  width: calc(100% / 2);
}

.logo__image {
  width: 50px;
  display: block;
}

.fa {

  float: right;
  color: grey;
}

/*
NAV *************
*/
#drawer {
	z-index: 10;
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: background-color 3s ease;
}

.navigation {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.navigation.open {
  display: block;
}
.nav__list {
	width: 100%;
	padding: 0;
	white-space: nowrap;
}
.nav__item {
	width: 33.3333%;
	text-transform: uppercase;
	text-align: center;
	line-height: 3em;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.nav__item a {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: black;
}
.nav__item a:hover {
	color: #3e9ef9;
	font-weight: 600;
}


/*
MAIN *************
*/

main {

}

.title {
	background-color: #3e9ef9;
	padding-bottom: 70px;

}
.title h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.title h2 {
  color: #0f1f70;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 10px;
}
.title p {
text-align: center;
color: #0f1f70;
font-family: 'Ubuntu', sans-serif;
font-size: 0.8em;
}


.portfolio_row {
  display: block;
}
.portfolio_item {
  width: 100%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
}

.portfolio_item img {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.item_1 {
  background-color: #f8b300;
}
.item_2 {
  background-color: #ff795b;
}
.item_3 {
  background-color: #a7c9d3;
}
.portfolio_item a {
  display: block;
  text-decoration: none;
  color: #0f1f70;
  font-size: 1.2em;
}
.portfolio_item a:hover {
	color: white;
}
