* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  widows: 100%;
  font-size: 24px;
}

/*
HEADER *************
*/

.header {
  display: flex;
  width: 100%;
  margin: 0;
}

.header__section {
  width: calc(100% / 2);
}

.logo__image {
  width: 50px;
  display: block;
}

.fa {
  float: right;
  color: grey;
}

/*
MAIN *************
*/

main {

}
.title {
background-color: #3e9ef9;
}
.title h1, h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}
.title p {
text-align: center;
color: #0f1f70;
font-family: 'Open Sans', sans-serif;
}
.title h2 {
  color: #0f1f70;
  font-weight: 800;
  font-size: 2em;
}

.portfolio_row {
  display: block;
  font-family: 'Open Sans', sans-serif;
}
.portfolio_item {
  width: 100%;
  text-align: center;
}

.portfolio_item img {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.item_1 {
  background-color: #f8b300;
}
.item_2 {
  background-color: #ff795b;
}
.item_3 {
  background-color: #a7c9d3;
}
.portfolio_item a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
