.container {
  max-width: 800px;
  margin: 0 auto;
}
.row {
  width: 100%;

}
.col {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% / 4);
  height: 200px;
  padding: 20px;
  border: 1px solid black;
  float: left;
}

/* OR 2nd SOLUTION */
/* ADD FLEXBOX TO .row or .container */
/*  AND DELETE
display: inline-block;
float: left;
FROM .col
*/
